.how-it {
    padding: 80px 0;
    text-align: center;
    text-transform: capitalize;
}

.how-it .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    gap: 20px;
}

@media (max-width:374px) {
    .how-it .container {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

    }
}

.head {
    margin: 10px 0 50px;
    font-weight: bold;
}

.icon {
    color: green;
}